/* .fade-exit {
    opacity: 1;
}

.fade-exit-active {
    animation: 2s shitShitExit forwards;
}
@keyframes shitShitExit {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.fade-exit::before {
    content: '';
    position: fixed;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1000;
}

.fade-exit-active::before {
    animation: 1s shitExit forwards;
}
@keyframes shitExit {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}





.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    animation: 2s shitShit forwards;
}
@keyframes shitShit {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.fade-enter::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1000;
    opacity: 0;
}

.fade-enter-active::before {
    animation: 2s shit forwards;
}
@keyframes shit {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        top: 0;
        opacity: 0;
    }
    51% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -100%;
        opacity: 1;
    }
} */

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    -webkit-animation: 2s shitShitExit forwards;
            animation: 2s shitShitExit forwards;
}
@-webkit-keyframes shitShitExit {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes shitShitExit {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.fade-exit::before {
    content: '';
    position: fixed;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1000;
}

.fade-exit-active::before {
    -webkit-animation: 1s shitExit forwards;
            animation: 1s shitExit forwards;
}
@-webkit-keyframes shitExit {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}
@keyframes shitExit {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}





.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    -webkit-animation: 2s shitShit forwards;
            animation: 2s shitShit forwards;
}
@-webkit-keyframes shitShit {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes shitShit {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.fade-enter::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1000;
    opacity: 0;
}

.fade-enter-active::before {
    -webkit-animation: 2s shit forwards;
            animation: 2s shit forwards;
}
@-webkit-keyframes shit {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        top: 0;
        opacity: 0;
    }
    51% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -100%;
        opacity: 1;
    }
}
@keyframes shit {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        top: 0;
        opacity: 0;
    }
    51% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -100%;
        opacity: 1;
    }
}