* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin sans', sans-serif;
}

html, body {
  background: #0084ff;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0053a0; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0084ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}