.Links {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.Links .message {
    color: white;
    margin: 5px auto;
    height: 18px;
}

.Links .success {
    color: white;
}

.Links .titleContainer {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Links .filterContainer {
    padding: 5px;
    background: #0055a5;
    position: relative;
    z-index: 100000;
}

.Links .filterContainer p {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
}

.Links .filterContainer p:hover {
    color: white;
}

.Links .active {
    color: white;
    border-bottom: 2px solid white;
}

.Links .allLinksContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    /* background: red; */
}

.Links .perspectiveContainer {
    position: relative;
    display: inline-block;
    writing-mode: vertical-rl;
    width: auto;
    height: 80%;
    vertical-align: top;
    perspective: 1000px;
    background: #0053a0;
    cursor: pointer;
    border-radius: 5px;
}

.Links .linkContainer {
    position: relative;
    padding: 10px 0;
    text-align: center;
    word-break: break-word;
    transform-origin: center bottom;
    transition: 1s all;
    background: #0084ff;
    border-radius: 5px;
}
.Links .perspectiveContainer:hover .linkContainer {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5), 0 -10px 0 0 white;
    transform: rotateX(-10deg) rotate(-3deg) translateY(20px);
    margin: 0 20px;
}

.Links .aHrefContainer {
    width: 100%;
    color: #0058cc;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.Links .link {
    color: #0058cc;
    display: none;
}

.Links .description {
    width: 100%; 
    color: white;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.Links .rateContainer {
    color: #003170;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.Links .rateContainer p {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.Links .rated {
    color: orange;
    text-decoration: underline;
}

.Links .posted {
    color: #003170;
    text-align: right;
    display: none;
}