.Links {
    margin: 90px auto 0 auto;
    text-align: center;
}

.Links h1 {
    color: white;
}

.Links .message {
    color: white;
    margin: 5px auto;
    height: 18px;
}

.Links .success {
    color: white;
}

.Links .filterContainer {
    margin-bottom: 10px;
}

.Links .filterContainer p {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
}

.Links .filterContainer p:hover {
    color: white;
}

.Links .filterContainer .active {
    color: white;
    background: rgb(0, 132, 255);
    border-bottom: 2px solid white;
}

.Links .wip_container {
    width: 1480px;
    margin: 0 auto;
    text-align: left;
}

.Links .linkContainer {
    display: inline-block;
    width: 350px;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    text-align: left;
    background: white;
}

.Links .linkContainer .link {
    color: rgb(0, 132, 255);
    word-break: break-all;
}

.Links .linkContainer .description {
    margin: 10px 0;
    word-break: break-word;
}

.Links .linkContainer .rateContainer {
    text-align: center;
    margin-top: 10px;
}

.Links .linkContainer .rateContainer p {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.Links .linkContainer .rateContainer .rated {
    color: rgb(0, 132, 255);
    text-decoration: underline;
}

.Links .linkContainer .posted {
    font-size: 11px;
    text-align: right;
}