.Profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background: white;
    padding: 30px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.Profile h1 {
    text-align: center;
    color: rgb(0, 132, 255);
}

.Profile .message {
    text-align: center;
    color: red;
    margin: 5px auto;
    height: 18px;
}

.Profile .success {
    color: green;
}

.Profile .form {
    width: 250px;
    margin: 0 auto;
}

.Profile .inputField {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.Profile .lastInputField {
    margin-bottom: 0px;
}

.Profile .inputField::placeholder {
    color:  rgba(0,0,0,0.3);
}

.Profile .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 132, 255);
    transition: .5s all;
}

.Profile input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    border: none;
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    cursor: pointer;
}

.Profile input[type="submit"]:hover {
    background: rgb(0, 132, 255);
    color: white;
    transition: .5s all;
}

.Profile input[type="submit"]:focus {
    outline: none
}