.Register {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0084ff;
    z-index: 11;
}

.Register .container {
    width: 320px;
    height: 435px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.Register h1 {
    text-align: center;
    margin-top: 32px;
    color: rgb(0, 132, 255);
}

.Register .message {
    text-align: center;
    color: red;
    margin: 5px auto;
    height: 18px;
}

.Register .success {
    color: green;
}

.Register .form {
    width: 250px;
    margin: 0 auto;
}

.Register .inputField {
    width: 100%;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 20px;
}

.Register .lastInputField {
    margin-bottom: 0px;
}

.Register .inputField::placeholder {
    color:  lightgrey;
}

.Register .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 132, 255);
    transition: .5s all;
}

.Register input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    border: none;
    background: lightgrey;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.Register input[type="submit"]:hover {
    background: rgb(0, 132, 255);
    color: white;
    transition: .5s all;
}

.Register input[type="submit"]:focus {
    outline: none
}

.Register .option {
    font-size: 14px;
    color: grey;
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    cursor: pointer;
}

.Register .option:hover {
    color: rgb(0, 132, 255);
}



@media screen and (max-width: 400px) {
    .Register .container {
        width: 300px;
    }
}