.ShareLink {
    width: 100%;
    height: 350px;
    margin: 90px auto 0 auto;
}

.ShareLink h1 {
    text-align: center;
    color: rgb(0, 132, 255);
}

.ShareLink .message {
    text-align: center;
    color: red;
    margin: 5px auto;
    height: 18px;
}

.ShareLink .success {
    color: green;
}

.ShareLink .form {
    width: 400px;
    margin: 0 auto;
}

.ShareLink .inputField {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 20px;
}

.ShareLink .inputField::placeholder {
    color:  lightgrey
}

.ShareLink .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 132, 255);
    transition: .5s all;
}

.ShareLink textarea {
    border: 2px solid lightgrey;
    font-size: 16px;
    resize: none;
    overflow: auto;
}

.ShareLink textarea::placeholder {
    color:  lightgrey
}

.ShareLink textarea:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 132, 255);
    transition: .5s all;
}

.ShareLink input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    border: none;
    background: lightgrey;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.ShareLink input[type="submit"]:hover {
    background: rgb(0, 132, 255);
    color: white;
    transition: .5s all;
}

.ShareLink input[type="submit"]:focus {
    outline: none
}